@import '../../scss/abstract/placeholders.scss';
@import '../../scss/abstract/mixins.scss';
@import '../../scss/abstract/constants.scss';

.answers {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;

  @include media-tablet {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }

  & > * {
    width: 50%;

    @include media-tablet {
      width: 80%;
    }

    @include media-mobile {
      width: 90%;
    }
  }
  
  & > *:not(:last-child) {
    margin-right: 20px;

    @include media-tablet {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.answers__list {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  border: 1px solid $standard-border-color;
  width: calc(50% + 40px);

  @include media-tablet {
    width: calc(80% + 40px);
  }

  @include media-mobile {
    width: calc(90% + 40px);
  }

  & > * {
    flex-grow: 1;
  }
}

.answers__active-answer {
  @include font(2rem, 2.5rem);

  padding: 20px;
}

.asnwers__no-answer-text  {
  text-align: center;
}
