@import '../../scss/abstract/mixins.scss';
@import '../../scss/abstract/constants.scss';

.bird-card_current {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  margin-bottom: 20px;

  @include media-tablet {
    flex-direction: column;
  }

  @include media-mobile {
    padding: 10px;
  }

  & .bird-card__main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    @include media-tablet {
      width: 100%;
    }
  }

  & .bird-card__image {
    margin-right: 50px;

    @include media-tablet {
      margin: 0;
    }
  }

  & .bird-card__audio-block {
    flex-grow: 1;
    display: flex;
    align-items: center;

    border-top: 1px solid $standard-border-color;
  }
}

.bird-card__main {
  display: flex;
  flex-direction: column;
}

.bird-card__short-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;

  @include media-tablet {
    display: block;
  }
}

.bird-card-short-info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 15px;

  @include media-tablet {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.bird-card-short-info__description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;

  margin-left: 25px;
  max-height: 150px;
  overflow: hidden;

  & .bird-card__name {
    margin: 0;
  }

  @include media-mobile {
    margin: 0;
    width: 100%;
  }
}

.bird-card__image {
  @include background-image-centered;

  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.bird-card__name {
  @include font(3rem, 3.5rem, 700);

  @include media-tablet {
    text-align: center;
    margin: 10px 0;
  }
}

.bird-card__species {
  @include font(1.8rem, 2rem);

  @include media-mobile {
    text-align: center;
    margin-bottom: 20px;
  }
}

.bird-card__description {
  @include font(1.5rem, 2rem);
  @include three-dots-text;
}

.bird-card__audio {
  width: 100%;
}
