$labtop-l-width: 1440px;
$content-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 475px;
$mobile-small-width: 320px;

$logo-path: '../../assets/images/logo.svg';
$result-block-image-path: '../../assets/images/result-block-image.jpeg';

$main-background-color: #222222;
$game-blocks-background-color: #303030;
$enabled-next-button-background-color: #008966;
$disabled-next-button-background-color: #303030;
$standard-text-color: #FFFFFF;
$navigation-item-background-color: #008966;
$active-navigation-item-background-color: #00BC8C;
$hover-navigation-item-background-color: rgba(0, 188, 140, 0.4);
$standard-hover-item-background-color: #444444;
$standard-border-color: #737373;
$standard-overflow-background-color: rgba(115, 115, 115, 0.7);
$standard-disbaled-button-background-color: rgba(115, 115, 115, 0.6);

$correct-answer-collor: #00bc8c;
$wrong-answer-collor: #d62c1a;

$audio-playing-bar-background-color: #737373;
$audio-play-button-color: #008966;

$spinkit-spinner-color: #ffffff !default;
$circleCount: 12;
$animationDuration: 1.2s;
