@import './placeholders.scss';

@mixin font ($size, $height: $size, $weight: normal, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin laptop-l {
  @media (max-width: $labtop-l-width) { @content; }
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobile-small {
  @media (max-width: $mobile-small-width) { @content; }
}

@mixin initial-styles-for-elements {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: $standard-text-color;
}

@mixin three-dots-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin standard-button($buttonBackground, $afterBackground) {
  @extend %standard-button-transition;

  cursor: pointer;
  position:relative;
  z-index: 1;
  background: $buttonBackground;
  overflow: hidden;


  &:not(:disabled):after {
    @extend %standard-button-transition;

    content: '';

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    color: transparent;
    background: $afterBackground;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }

  &:hover::after {
    opacity: 1;
    visibility: visible;
    height: 100%
  }

  &:disabled {
    cursor: initial;
  }
}

@mixin background-image-centered($position: center) {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: $position !important;
}
