@import "../../scss/abstract/constants.scss";
@import "../../scss/abstract/mixins.scss";

.result-block-overflow {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  z-index: 1000;

  background: $standard-overflow-background-color;
}

.results-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: $game-blocks-background-color;
  border: 3px solid $standard-border-color;
  border-radius: 10px;

  width: 50vmax;
  height: fit-content;
  padding: 20px;
}

.result-block__image {
  background: url($result-block-image-path);

  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 80%;
  height: 250px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.results-block__text {
  @include font(3rem, 3.5rem);
}

.results-block__score {
  @include font(2rem, 2.5rem);
  margin-bottom: 20px;
}
