@import "../../scss/abstract/constants.scss";
@import "../../scss/abstract/mixins.scss";
@import "../../scss/abstract/placeholders.scss";

.results-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: $game-blocks-background-color;
  border: 3px solid $standard-border-color;
  border-radius: 10px;

  height: fit-content;
  padding: 20px;
}

.result-block__image {
  background: url($result-block-image-path);

  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 80%;
  height: 250px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;

  @include media-tablet {
    width: 100%;
  }
}

.results-block__text {
  @include font(3rem, 3.5rem);

  text-align: center;
}

.results-block__score {
  @include font(2rem, 2.5rem);

  margin-bottom: 20px;
  text-align: center;
}

.results-block__certificate {
  @include font(2rem, 2.5rem);

  text-align: center;
  margin: 10px 0;
}

.results-block__download-certificate {
  @extend %standard-button-transition;

  color: $standard-text-color;
  text-decoration: underline;

  &:hover {
    color: $enabled-next-button-background-color;
  }
}
