@import '../../scss/abstract/mixins.scss';
@import '../../scss/abstract/constants.scss';
@import '../../scss/abstract/placeholders.scss';

.header__bird-types {
  display: flex;
  justify-content: space-between;

  background: $navigation-item-background-color;
  border-radius: 5px;
  overflow: hidden;

  @include media-tablet {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media-mobile {
   flex-direction: column;
   
   & > * {
     width: 100%;
   }
  }
}

.header__bird-type {
  @extend %standard-button-transition;
  @include font(2rem, 2.5rem);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  word-break: break-word;

  @include media-mobile {
    @include font(2.5rem, 3rem);
    padding: 10px 0;
   }

  &:hover {
    background: $hover-navigation-item-background-color
  }

  &_active {
    background: $active-navigation-item-background-color;
  }
}
