@import "../abstract/constants.scss";
@import "../abstract/mixins.scss";

html {
  @include initial-styles-for-elements;
}

body {
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  @include initial-styles-for-elements;

  word-break: break-all;
}

#root {
  display: flex;
  justify-content: center;

  background: $main-background-color;
}

#game-wrapper {
  min-height: 100vh;
  max-width: 1020px;

  @include media-laptop {
    max-width: 768px;
  }

  @include media-tablet {
    max-width: 100%;
    width: 100%;
  }
}

#main-container {
  padding: 20px;

  @include media-mobile {
    padding: 10px;
  }
}

.game-block {
  background: $game-blocks-background-color;
  border-radius: 10px;
  word-break: break-all;
}
