@import "../abstract/constants.scss";
@import "../abstract/mixins.scss";

html {
  @include initial-styles-for-elements;
}

body {
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  @include initial-styles-for-elements;
}

#root {
  display: flex;
  justify-content: center;

  background: $main-background-color;
}

#game-wrapper {
  min-height: 100vh;
  max-width: 1200px;
}

.game-block {
  background: $game-blocks-background-color;
  border-radius: 10px;
}
